$palette1:rgb(186, 173, 162);
$palette2:rgb(180, 95, 45);
$palette-white:rgb(255, 255, 255);
$palette-black:rgb(0, 0, 0);
$palette-brown:rgb(96, 40, 24) ;

$font-heading: 'Manrope', sans-serif;
$font-text:'Ysabeau SC', sans-serif;